.button-black {
  @include overButton {
  background-color: $color-black;
}
}

.button-golden {
  @include overButton {
    background: transparent;
    color: $color-yellow;
    border: 2px solid $color-golden-yellow;
    margin: 0px auto 25px;
  }
  @include bp-small {

    font-size: 10px;
  }
}
