@include animate-circle();
#circle-border {
  @include bp-small {
    display: none;
  }
}
#cart-container {
  cursor: pointer;
  float: right;
  &:hover {
    & > .flip-container {
      & > .flipper {
        float: left;
        width: 100%;
        -webkit-transform-style: preserve-3d;
        -webkit-transition: .5s;
        -webkit-transform: perspective(500) rotateX(90deg) translateY(-25px) translateZ(25px);
        .back {
          background-color: $color-golden-yellow;
          color: $color-black;
        }
      }
    }
  }
  #header-minicart-container {
    float: right;
    color: $color-black;
    width: 50px;
    height: 50px;
    @include bp-small {
      padding-top: 5px;
    }
    &.active {
      span {
        background-position: 0px 0px;
        &:hover {

        }
      }
    }
    &.car-fixed {
  		position: fixed;
  		right: 0;
  		top: -9px;
  		border: none !important;
  		z-index: 9999;
  	}
    span {
      padding-top: 18px;
      text-align: center;
      z-index: 5;
      display: block;
      height: 30px;
      width: 50px;
      position: absolute;
      font-size: 12px;
      font-family: $font-gotham-medium;
      background: url('../img/bag.svg') no-repeat 0px 0px;
      background-size: 50px 40px;
      @include bp-small {

      }
    }
  }
}
.flipper {
  float: left;
  width: 100%;
  -webkit-transform: perspective(500);
  -webkit-transform-style: preserve-3d;
  -webkit-transition: .5s;
  &:hover {
    -webkit-transform: perspective(500) rotateX(90deg) translateY(-25px) translateZ(25px);
    .back {
      background-color: $color-golden-yellow;
      color: $color-black;
    }
  }
  .back {
    -webkit-transform: rotateX(-90deg);
    -webkit-transform-origin: 100% 0;
    -webkit-transition: .5s;
  }
}

.car-price-detail {
  @include bp-medium {
    @include box-car();
    color: $color-golden-yellow;
    overflow: hidden;
    div {
      &:first-child{
        color: $color-black;
        height: 50px;
        font-family: $font-gotham-medium, $font-secondary;
      }
    }
    .back {
      color: $color-white;
      font-size: 14px;
      height: 50px;
      letter-spacing: -0.5px;
      padding: 20px 30px;
      background-color: $background-color-golden-yellow;
      font-family: $font-gotham-medium, $font-secondary;
      @include bp-large {
        font-size: 12px;
        padding: 20px 30px;
      }
      @include bp-medium-screens {
        padding: 20px 17px;
      }
    }
    .detail {
      font-size: 10px;
      margin-top: 10px;
      height: 10px;
      text-align: right;
      color: $color-grey;
      width: 100%;
      display: block;
    }
    .price {
      @include bp-large {
        font-size: 10px;
      }
      @include bp-medium-screens {
        font-size: 10px;
      }
      font-size: 12px;
      text-align: right;
      height: 40px;
      width: 100%;
      float: left;
    }
  }
  @include bp-small {
    display: none;
  }
}
