@include font-face($font-icomoon, $font-icomoon-path);
@include font-face($gotham-medium, $gotham-medium-path);
@include font-face($gotham-book, $gotham-book-path);
@include font-face($gotham-bold, $gotham-bold-path);
@include font-face($santafeletplain, $santafeletplain-path);
@include font-face($ultima_w01_regular, $ultima_w01_regular-path);
@include icon-list($icons);

body {
  &.background-body {
    padding: 0;
    margin: 0;
    background-color: $background-color-white;
  }
  .row {
    margin-right: 0px;
  }
  .overlay-search {
  	@include generate-overlay();
  	@include opacity(.95);
    @include transition(1s);
    @include bp-small {
      top:50px;
      z-index: 2;
    }
    display: block;
  }
  #content-slider {
    height: 2000px;
    overflow: hidden;
  }
}

[class^="icon-"] {
  @include font-icon($font-icomoon);
}

[class*=" icon-"] {
  @extend [class^="icon-"];
}
