@include font-face($font-icomoon, $font-icomoon-path);
@include font-face($font-gotham-medium, $font-gotham-medium-path);
@include font-face($font-gotham-book, $font-gotham-book-path);
@include font-face($font-gotham-bold, $font-gotham-bold-path);
@include icon-list($icons);

body {
  &.background-body {
    padding: 0;
    margin: 0;
    background-color: $background-color-white;
  }
  .row {
    margin-right: 0px;
  }
  .overlay-search {
  	@include generate-overlay();
  	@include opacity(.95);
    @include bp-small {
      top:50px;
      z-index: 2;
    }
  }
  #content-slider {
    height: 2000px;
    overflow: hidden;
  }
}

[class^="icon-"] {
  @include font-icon($font-icomoon);
}

[class*=" icon-"] {
  @extend [class^="icon-"];
}
