.flexslider {
  position: relative;
  margin: $flexslider-margin;
  zoom: 1;

  .slides {
    zoom: 1;

    img {
      height: auto;
      width: 100%;
    }
    li {
      .content-slider-jumbotron {
        background-size: 100% auto !important;
        .slider-jumbotron {
          max-width: 800px;
          width: 60%;
          margin: 0 auto;
          display: table;
          height: 580px;
          position: relative;
          a {
            text-decoration: none;
            color: $color-white;
            @include over-url($color-white);
          }
          .content-jumbotron {
            display: table-cell;
            vertical-align: middle;
            height: auto;
            text-align: center;
            color: $color-white;
            font-family: $gotham-medium;
            .logo {
              margin-top: 0px;
              img {
                width: 100%;
                max-width: 850px;
                vertical-align: middle;
              }
            }
            .title {
              text-align: center;
              text-transform: uppercase;
              color: $color-golden-yellow;
              font-family: $gotham-medium;
              font-size: 1em;
              margin: 0 0 35px 0;
              line-height: 1.2em;
              text-indent: 0;
              letter-spacing: 4.6px;
            }
            .content-buttons {
              margin: 0 auto;
              max-width: 550px;
              display: inline-table;
            }
            .details {
              height: auto;
              width: 100%;
              margin: 0 auto;
              padding-bottom: 20px;
              display: table;
              div {
                display: table-cell;
                float: none !important;
                vertical-align: middle;
                &:last-child {
                   .copy-main {
                     &:after {
                      content: '';
                      }
                   }
                }
                span {
                  float: left;
                  width: 100%;
                  color: $color-white;
                  position: relative;
                  text-align: center;
                  padding: 2px 0px;
                  font-size: 17px;
                  font-family: $ultima_w01_regular;
                  &.copy-main {
                    font-size: 47px;
                    font-family: $santafeletplain;
                    color: $color-golden-yellow;
                    &:after {
                    content: '+';
                    position: absolute;
                    font-size: 37px;
                    font-family: $ultima_w01_regular;
                    top: -5px;
                    right: 0px;
                    color: $color-white;
                    }
                  }
                }
              }
            }
            .legals {
              position: relative;
            }
          }
        }
      }
      @include bp-tablet {
        .content-slider-jumbotron {
          .slider-jumbotron {
            .content-jumbotron {
              .details {
                div {

                  span {
                    font-size: 12px;
                    &.copy-main {
                      font-size: 32px;
                    }
                  }
                }
              }
            }
          }
        }
      }
      @include bp-small {
        .content-slider-jumbotron {
          background-size: 100% auto !important;
          .slider-jumbotron {
            max-width: 800px;
            width: 80%;
            margin: 0 auto;
            display: table;
            height: 450px;
            position: relative;
            a {
              text-decoration: none;
              color: $color-white;
              @include over-url($color-white);
            }
            .content-jumbotron {
              display: table-cell;
              vertical-align: middle;
              height: auto;
              text-align: center;
              color: $color-white;
              font-family: $gotham-medium;
              .logo {
                margin-top: 0px;
                img {
                  width: 100%;
                  max-width: 850px;
                  vertical-align: middle;
                }
              }
              .title {
                text-align: center;
                text-transform: uppercase;
                color: $color-golden-yellow;
                font-family: $gotham-medium;
                font-size: 12px;
                margin: 0 0 35px 0;
                line-height: 12px;
                text-indent: 0;
                letter-spacing: 4.6px;
              }
              .content-buttons {
                margin: 0 auto;
                max-width: 550px;
                display: inline-table;
              }
              .details {
                height: auto;
                width: 100%;
                margin: 0 auto;
                padding-bottom: 20px;
                display: table;
                div {
                  display: table-cell;
                  float: none !important;
                  vertical-align: middle;
                  &:last-child {
                     .copy-main {
                       &:after {
                        content: '';
                        }
                     }
                  }
                  span {
                    float: left;
                    width: 100%;
                    color: $color-white;
                    position: relative;
                    text-align: center;
                    padding: 2px 0px;
                    font-size: 8px;
                    font-family: $ultima_w01_regular;
                    &.copy-main {
                      font-size: 16px;
                      font-family: $santafeletplain;
                      color: $color-golden-yellow;
                      &:after {
                      content: '+';
                      position: absolute;
                      font-size: 20px;
                      font-family: $ultima_w01_regular;
                      top: -5px;
                      right: 0px;
                      color: $color-white;
                      }
                    }
                  }
                }
              }
              .legals {
                position: relative;
                font-size: 10px;
              }
            }
          }
        }
      }


    }
  }
}

.flex-viewport {
  max-height: $flex-viewport-max-height;
  .loading &{
    max-height: $flex-viewport-loading-max-height;
  }
}

.carousel li {

  margin-right: 5px;

}


//
// Direction Nav
//

.flex-direction-nav {

  *height: 0;


  //
  // Global styles
  //
  a  {
    text-decoration: none;
    display: block;
    width: 40px;
    height: 40px;
    margin: -20px 0 0;
    position: absolute;
    top: 50%;
    z-index: 1;
    overflow: hidden;
    opacity: 0;
    cursor: pointer;
    color: $flex-direction-nav-color;
    text-shadow: $flex-direction-nav-text-shadow;

    &:before  {

      font-size: 40px;
      display: inline-block;
      content: $flex-direction-nav-icon-prev;
      color: $flex-direction-nav-icon-color;
      text-shadow: $flex-direction-nav-icon-text-shadow;

    }

    &.flex-next:before {

      content: $flex-direction-nav-icon-next;

    }

  }


  //
  // Prev
  //

  .flex-prev {

    left: -50px;

  }


  //
  // Next
  //

  .flex-next {

    right: -50px;
    text-align: right;

  }


  //
  // Hover states
  //

  .flexslider:hover &{

    .flex-prev {

      opacity: 0.7;
      left: 10px;

      &:hover{

        opacity: 1;

      }

    }

    .flex-next {

      opacity: 0.7;
      right: 10px;

      &:hover{

        opacity: 1;

      }

    }

  }


  //
  // Disabled
  //

  .flex-disabled {

    opacity: 0!important;
    filter: alpha(opacity=0);
    cursor: default;
    z-index: -1;

  }
}


//
// Pause/Play
//

.flex-pauseplay a {

  display: block;
  width: 20px;
  height: 20px;
  position: absolute;
  bottom: 5px;
  left: 10px;
  opacity: 0.8;
  z-index: 10;
  overflow: hidden;
  cursor: pointer;
  color: #000;

  &:before {

    font-size: 20px;
    display: inline-block;
    content: $flex-pauseplay-icon-pause;

  }

  &:hover {

    opacity: 1;

  }

  &.flex-play:before {

    content: $flex-pauseplay-icon-play;

  }

}


//
// Control Nav
//

.flex-control-nav {

  width: 10%;
  text-align: center;
  left: 10px;

  li {

    margin: 0px;
    zoom: 1;
    display: inline;

  }

}


//
// Control paging
//

.flex-control-paging li {

  a {

    width: 40px;
    height: 20px;
    display: block;
    cursor: pointer;
    font-size: 18px;
    text-decoration: none;
    color: #989898;

    &:hover {
      color: #fff;
    }

    &.flex-active {
      color: #fff;
      cursor: default;
    }
    &:before {
      content: '0';
    }
  }
}


.flex-control-thumbs {

  margin: $flex-control-thumbs;
  position: static;
  overflow: hidden;

  li {

    width: 25%;
    float: left;
    margin: 0;

  }

  img {

    width: 100%;
    height: auto;
    display: block;
    opacity: .7;
    cursor: pointer;
    -moz-user-select: none;

    &:hover {opacity: 1;}

  }

  .flex-active {

    opacity: 1;
    cursor: default;

  }
}

.custom-navigation {
  a {
    &.flex-next {
      width: 56px;
      height: 56px;
      border: solid 1px #989898;
      position: absolute;
      z-index: 1;
      left: 50px;
      top: 300px;
      text-decoration: none;
      font-size: 30px;
      color: #989898;
      text-align: center;
      padding-top: 8px;
      &:hover {
          border: solid 1px #FFFFFF;
          color: #FFFFFF;
      }
    }
    &.flex-prev {
      @extend .flex-next;
      top: 370px;
      -webkit-transform: rotateX(180deg);
      transform: rotate(180deg);
    }
  }
  .custom-controls-container {
    position: absolute;
    bottom: 30px;
    z-index: 1;
  }
}
