
@media (min-width: 769px) and (max-width: 915px) {
    .menu-creator-pro .grid-container5 {
      height: 665px;
    }
    .menu-creator-pro .grid-column {
      height: 665px;
    }
}

@media only screen and (min-width: 320px)  and (max-width: 400px) {
  .logo {
    float: right;
    margin: 14px -15px 0px 0px !important;
  }

  #content-slider img {
    max-width: 400px;
  }
}

@media screen and (max-width: 820px) {
  .menu-creator-pro li {
    padding: 0px 30px 0px 0px;
  }
}

@media screen and (max-width: 1330px) {
  #content-slider {
    width: 100%;
  }

  #content-slider img {
    width: 100%;
    max-width: 1330px;
  }

  .toolheader {
    width: 100%;
    padding-left: 15px;
  }

  .row {
    margin-right: 0px;
  }

  .mcp-wrapper {
    width: 100%;
  }

  .mcp-wrapper #menu-group-1 {
    float: left;
    margin: 0 auto;
    width: 100%;
  }

  .banner-right {
    display: none
  }
}

@media screen and (min-width: 769px) {
  .toolheader {
    margin-top: 30px;
  }

  .mcp-pushnew-menu .content-float {
    position: absolute;
    top: -95px;
    text-align: right;
  }

  #content-secundary-menu {
    right: 105px;
    width: 435px;
  }

  #content-secundary-menu .secundary-menu li{
    display: inline-table;
  }

  #content-secundary-menu .secundary-menu li a{
    font-size: 11px;
    color: #ffffff;
    margin-left: 30px;
  }

  #content-account-links {
    right: 0px;
    width: 80px;
  }

  #content-account-links a{
    font-size: 11px;
    font-weight: 500;
    color: #f0f0f0;
  }
}

@media screen and (max-width: 768px) {
  .mcp-wrapper #menu-group-1 {
    overflow-y: scroll;
  }

  #header .content-header {
    height: 60px;
  }

  .toolheader {
    margin-top: 0px;
  }
  .car-price-datail, .flip-container, .vertical, .front, .back{
    display: none;
  }

  #content-secundary-menu {
    width: 100%;
    height: 135px;
    display: block;
  }

  #content-secundary-menu .secundary-menu {
    margin: 25px 10px;
  }

  #content-secundary-menu .secundary-menu li a {
    color: #252525;
    font-size: 13px;
    height: 30px;
    text-decoration: none;
  }

  #content-account-links {
    height: 42px;
    color: #666666;
    background-color: #F0F0F0;
    text-align: center;
    padding-top: 10px;
  }

  #content-account-links a {
      color: #666666;
  }

  #content-account-links a:hover{
    text-decoration: none;
  }

  .logo {
    float: right;
    margin: 14px;
  }

  .logo img {
    max-width: 112px;
  }

  /* Search */
  #toolbar-search {
    display: block;
    float: right;
  }

  #toolbar-search i{
    font-size: 22px;
    margin-top: 0px;
  }

  #toolbar-search.animate-search {
    position: absolute;
    right: 35%;
    margin-top: 0px;
    height: 45px;
    background-color: #252525;
  }

  #toolbar-search.animate-search #search-mini-form #search{
    margin-top: 12px;
  }

  #search-mini-form *{
    float: right;
  }

  #search-mini-form .input-box{
    width: 97%;
  }

  #search-mini-form #search {
    width: 0px;
    display: none;
  }

  #search-mini-form #search .close-search{
    width: 18px;
    height: 18px;
    font-size: 18px;
    font-weight: normal;
    padding: 11px 40px 0px 0px;
    cursor: pointer;
    color: #bfbfbf;
  }

  #search-mini-form #search input{
    width: 80%;
    height: 35px;
    color: #fff;
    font-size: 16px;
    outline: none;
    background: none;
    border: none;
  }

  #search-mini-form .button {
    height: 23px;
    width: 23px;
    display: block;
    background: none;
    outline: none;
    font-size: 22px;
    color: #fff;
    border: none;
    margin-top: 20px;
    cursor: pointer;
  }
  /* End search*/
  /*car mobile*/
  #header-minicart-container {
    width: 28px;
    height: 26px;
    padding: 2px 9px;
  }

  #header-minicart-container.active {
    color: #ffc425;
  }

  #header-minicart-container span {
    padding-top: 20px;
    text-align: center;
    display: block;
    margin: auto 0;
    width: 27px;
  }

  #header-minicart-container i {
    font-size: 26px;
    position: absolute;
    margin: 15px 0px 0px 0px;
  }
  /* end car */
}
