body.background-body {
  padding: 0;
  margin: 0;
  background-color: #565656;
}

.loader {
  background-color: #565656;
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: url('../img/page-loader.gif') 50% 50% no-repeat rgb(249,249,249);
}

.wrapper {
  min-width: 320px;
  margin: 0 auto;
}

#header {
  background-color: #252525;
}

#header .content-header {
  height: 100%;
  width: 100%;
  background-color: #252525;
}
#header.page-header {
  font-family: "Gotham-Light","Trebuchet MS",Arial,sans-serif;
  margin: 0px;
  padding: 0px;
}

/* toolheader */
.toolheader {
  display: table;
  height: 50px;
  margin: 0 auto;
  width: 1280px;
}

.logo img {
    max-width: 193px;
}
/* end toolheader */
/* menu */
.mcp-wrapper {
  display: table;
  margin: 0 auto;
  width: 1280px;
  padding: 0px 0px 10px 0px;
}

.mcp-wrapper #menu-group-1 {
  float: left;
  margin: 0 auto;
  max-width: 1280px;
  padding-right: 0px;
}
/* end menu */

/* Car */
#header-minicart-container {
  float: right;
  color: #bfbfbf;
}

#header-minicart-container i{
  font-size: 37px;
  position: absolute;
  margin: 13px;
}

#header-minicart-container span{
  padding-top: 26px;
  text-align: center;
  display: block;
  margin: auto 0;
  width: 67px;
}
/* end Car */

/* flip car */
/* entire container, keeps perspective */
.flip-container {
	perspective: 1000px;
}
/* flip the pane when hovered */
.flip-container:hover .flipper, .flip-container.hover .flipper {
	transform: rotateX(-180deg);
}

/* flip speed goes here */
.flipper {
	transition: 0.6s;
	transform-style: preserve-3d;
	position: relative;
}

/* hide back of pane during swap */
.front, .back {
	backface-visibility: hidden;

	position: absolute;
	top: 0;
	left: 0;
}

/* front pane, placed above back */
.front {
	z-index: 2;
	/* for firefox 31 */
	transform: rotateY(0deg);
}

/* back, initially hidden pane */
.back {
  transform: rotateX(180deg);
}
/*end flip car*/
@media screen and (min-width: 769px) {
  .border-top-search-car {
    border-top: 1px solid #484848;
    padding-right: 0px;
  }
  .car-price-detail {
    width: 125px;
    height: 70px;
    float: right;
    color: #ffc425;
    border-right: none;
    border: 1px solid #ffc425;
  }

  .car-price-detail div:first-child{
    width: 125px;
    height: 70px;
    float: right;
    color: #ffc425;
    font-size: 18px;
    letter-spacing: -0.5px;
    padding: 5px 20px;
  }

  .car-price-detail .back{
    width: 125px;
    height: 70px;
    float: right;
    color: #252525;
    font-size: 18px;
    letter-spacing: -0.5px;
    background-color: #ffc425;
    padding: 20px 20px;
  }

  .car-price-detail .detail {
     font-size: 10px;
  }
  .car-price-detail .price {
    font-size: 18px;
  }

  #header-minicart-container.active {
    border: 1px solid #ffc425;
    color: #ffc425;
  }

  #header-minicart-container {
    border: 1px solid #484848;
    width: 70px;
    height: 70px;
  }
  /* Search */
  #toolbar-search {
    display: block;
    margin-top: 0px;
    float: right;
  }

  #toolbar-search i{
    font-size: 28px;
    margin-right: 15px;
    margin-top: 20px;
    color: #b9b9b9;
  }

  #toolbar-search.animate-search {
    position: absolute;
    right: 210px;
    margin-top: 10px;
    height: 40px;
    background-color: #252525;
  }
  #search-mini-form *{
    float: right;
  }

  #search-mini-form .input-box{
    width: 100%;
  }

  #toolbar-search.animate-search #search{
    margin-top: 5px;
  }

  #toolbar-search.animate-search i{
    margin-top: 10px;
    color: #ffc425;
  }

  #search-mini-form #search {
    width: 0px;
    display: none;
  }

  #search-mini-form #search .close-search{
    width: 18px;
    height: 18px;
    font-size: 18px;
    margin-top: 10px;
    font-weight: normal;
    cursor: pointer;
    color: #bfbfbf;
  }

  #search-mini-form #search input{
    width: 90%;
    height: 35px;
    color: #fff;
    font-size: 22px;
    outline: none;
    background: none;
    border: none;
  }

  #search-mini-form .button {
    height: 23px;
    width: 23px;
    display: block;
    background: none;
    outline: none;
    font-size: 22px;
    color: #fff;
    border: none;
    cursor: pointer;
  }
  /* End search*/

  /*Extra Css*/
  #content-slider {
    display: table;
    margin: 0 auto;
    width: 1280px;
  }

  #content-slider img {
    position: absolute;
    z-index: -1;
    margin: 0;
    top: -16px;
  }

  .row {
    margin-right: 0px;
  }
}
/* end header */
