@media screen and (max-width: 768px) {
    *,
    *:after,
    *::before {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }

    html, body, .container, .scroller {
    	height: 100%;
    }

    .scroller {
    	overflow-y: scroll;
    }

    .scroller,
    .scroller-inner {
    	position: relative;
    }

    .container {
    	position: relative;
    	overflow: hidden;
    	background: #34495e;
    }

    .menu-trigger:after {
      background: none repeat scroll 0 0 #fff;
      box-shadow: 0 10px 0 #fff, 0 20px 0 #fff;
      height: 5px;
      left: 15%;
      position: absolute;
      top: 10px;
      width: 70%;
    }
    .menu-trigger {
      background: none repeat scroll 0 0 #ccc;
      border: 2px solid #eee;
      color: #fff;
      cursor: pointer;
      display: inline-block;
      font-family: "Arial",Helvetica,sans-serif,serif;
      font-size: 14px;
      font-weight: bold;
      left: 0;
      letter-spacing: 2px;
      line-height: 30px;
      padding: 5px 15px;
      position: relative;
      text-align: left;
      text-decoration: none;
      text-indent: -9999px;
      text-transform: uppercase;
      top: 0;
      width: 48px;
    }

    .mp-pusher {
      height: 100%;
      left: 0;
      position: fixed;
      top: 0;
      z-index: 999;
    }

    .mp-menu {
    	position: absolute; /* we can't use fixed here :( */
    	top: 0;
    	left: 0;
    	z-index: 1;
    	width: 275px;
    	height: 100%;
      background-color: #fff;
    	-webkit-transform: translate3d(-100%, 0, 0);
    	-moz-transform: translate3d(-100%, 0, 0);
    	transform: translate3d(-100%, 0, 0);
    }

    .mp-level {
      background: none repeat scroll 0 0 #fff;

      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
      width: 100%;
    	-webkit-transform: translate3d(-100%, 0, 0);
    	-moz-transform: translate3d(-100%, 0, 0);
    	transform: translate3d(-100%, 0, 0);
    }

    /* overlays for pusher and for level that gets covered */
    .mp-pusher::after,
    .mp-level::after,
    .mp-level::before {
    	position: absolute;
    	top: 0;
    	right: 0;
    	width: 0;
    	height: 0;
    	opacity: 0;
    }

    .mp-pusher::after,
    .mp-level::after {
    	background: #ddd;
    	-webkit-transition: opacity 0.3s, width 0.1s 0.3s, height 0.1s 0.3s;
    	-moz-transition: opacity 0.3s, width 0.1s 0.3s, height 0.1s 0.3s;
    	transition: opacity 0.3s, width 0.1s 0.3s, height 0.1s 0.3s;
    }

    .mp-level::after {
    	z-index: -1;
    }

    .mp-pusher.mp-pushed::after,
    .mp-level.mp-level-overlay::after {
    	width: 100%;
    	height: 100%;
    	opacity: 1;
    	-webkit-transition: opacity 0.3s;
    	-moz-transition: opacity 0.3s;
    	transition: opacity 0.3s;
    }

    .mp-level.mp-level-overlay {
    	cursor: pointer;
    }

    .mp-level.mp-level-overlay.mp-level::before {
    	width: 100%;
    	height: 100%;
    	background: transparent;
    	opacity: 1;
    }

    .mp-pusher,
    .mp-level {
    	-webkit-transition: all 0.5s;
    	-moz-transition: all 0.5s;
    	transition: all 0.5s;
    }

    /* overlap */
    .mp-overlap .mp-level.mp-level-open {
    	-webkit-transform: translate3d(-70px, 0, 0);
    	-moz-transform: translate3d(-70px, 0, 0);
    	transform: translate3d(-70px, 0, 0);
    }
    /* First level */
    .mp-menu > .mp-level,
    .mp-menu > .mp-level.mp-level-open,
    .mp-menu.mp-overlap > .mp-level,
    .mp-menu.mp-overlap > .mp-level.mp-level-open {
    	box-shadow: none;
    	-webkit-transform: translate3d(0, 0, 0);
    	-moz-transform: translate3d(0, 0, 0);
    	transform: translate3d(0, 0, 0);
    }

    /* cover */
    .mp-cover .mp-level.mp-level-open {
    	-webkit-transform: translate3d(0, 0, 0);
    	-moz-transform: translate3d(0, 0, 0);
    	transform: translate3d(0, 0, 0);
    }

    .mp-cover .mp-level.mp-level-open > ul > li > .mp-level:not(.mp-level-open) {
    	-webkit-transform: translate3d(-100%, 0, 0);
    	-moz-transform: translate3d(-100%, 0, 0);
    	transform: translate3d(-100%, 0, 0);
    }

    /* content style */
    .mp-menu ul {
    	padding: 0;
    	list-style: none;
      margin: 80px 0px 0px 0px;
    }
    .mp-menu h2 {
      margin: 0;
      text-align: right;
      padding: 10px 15px;
      position: absolute;
      z-index: 999;
      right: 5px;
    }

    .mp-menu.mp-overlap h2::before {
    	position: absolute;
    	top: 0;
    	right: 0;
    	margin-right: 8px;
    	font-size: 75%;
    	line-height: 1.8;
    	opacity: 0;
    	-webkit-transition: opacity 0.3s, -webkit-transform 0.1s 0.3s;
    	-moz-transition: opacity 0.3s, -moz-transform 0.1s 0.3s;
    	transition: opacity 0.3s, transform 0.1s 0.3s;
    	-webkit-transform: translateX(-100%);
    	-moz-transform: translateX(-100%);
    	transform: translateX(-100%);
    }

    .mp-menu.mp-cover h2 {
    	text-transform: uppercase;
    	font-weight: 700;
    	letter-spacing: 1px;
    	font-size: 1em;
    }

    .mp-overlap .mp-level.mp-level-overlay > h2::before {
    	opacity: 1;
    	-webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
    	-moz-transition: -moz-transform 0.3s, opacity 0.3s;
    	transition: transform 0.3s, opacity 0.3s;
    	-webkit-transform: translateX(0);
    	-moz-transform: translateX(0);
    	transform: translateX(0);
    }

    .mp-menu ul li > a {
      width: 98%;
      height: 45px;
      font-family: 'Gotham-Book', 'Helvetica Neue', Helvetica, Arial, sans-serif;
      font-size: 18px;
      font-weight: 500;
      letter-spacing: 1px;
      float: right;
    }
    .mp-menu ul li.current > a {
      color: #ffc61e;
    }
    .mp-menu ul li:before {
      background: none repeat scroll 0 0 transparent;
      color: #000;
      font-size: 12px;
      font-weight: bold;
      left: 5px;
      line-height: 35px;
      margin-top: 10px;
      padding: 0 5px;
      position: absolute;
      z-index: -1;
    }

    .mp-menu .mp-level.mp-level-overlay > ul > li > a,
    .mp-level.mp-level-overlay > ul > li:first-child > a {
    	box-shadow: inset 0 -1px rgba(0,0,0,0);
    }

    .mp-back {
      cursor: pointer;
      float: left;
      font-family: 'Gotham-Book', 'Helvetica Neue', Helvetica, Arial, sans-serif;
      font-size: 18px !important;
      margin: -40px 0px 10px 80px;
    }

    .mp-back i{
      float: left;
    }

    .close-menu {
      cursor: pointer;
      width: 37px;
      height: 11px;
      font-family: 'Gotham-Book', 'Helvetica Neue', Helvetica, Arial, sans-serif;
      font-size: 13px;
      font-weight: 500;
      letter-spacing: 0.6px;
    }

    .mp-back::after {
    	position: absolute;
    	right: 10px;
    	font-size: 1.3em;
    	color: rgba(0,0,0,0.3);
    }

    .mp-menu .mp-level.mp-level-overlay > .mp-back,
    .mp-menu .mp-level.mp-level-overlay > .mp-back::after {
    	background: transparent;
    	box-shadow: none;
    	color: transparent;
    }

    /* Fallback example for browsers that don't support 3D transforms (and no JS fallback) */
    /* We'll show the first level only */
    .no-csstransforms3d .mp-pusher,
    .no-js .mp-pusher {
    	padding-left: 300px;
    }

    .no-csstransforms3d .mp-menu .mp-level,
    .no-js .mp-menu .mp-level {
    	display: none;
    }

    .no-csstransforms3d .mp-menu > .mp-level,
    .no-js .mp-menu > .mp-level {
    	display: block;
    }

    .level1 li a span{
      color: #252525;
    }

    .grid-container5 {
      display: none;
    }
    .menu-creator-pro .grid-column {
      opacity: 1;
    }
    .menu-creator-pro li {
      display: inherit;
      float: inherit;
      width: 100%;
      padding: 0px 25px 5px 10px;
      text-align: left;
    }
    .menu-creator-pro .grid-container3 {
      width: 100%;
      opacity: 1;
      top: -155%;
      left: -100%;
      height: 100%;
    }

    .menu-creator-pro li > div {
    	position: absolute;
    	z-index: 1000;
    	top: 100%;
    	margin-top: 25px;
    	opacity: 0;
    	width: 100%;
    	min-height: 500px;
    }

    .menu-creator-pro li:hover > div {
    	left: -100%;
    	opacity: 1;
    }

    .grid-column.grid-column3 {
      left: 100%;
      height: 100%;
    }

    .grid-column.grid-column3 ul {
      margin: 35px 50px;
    }

    .grid-column.grid-column3 ul li{
      padding: 0px 0px 0px 20px;
    }

    .icon-mobile, .icon-mobile-list {
      display: block;
      float: left;
      padding-right: 10px;
      margin-top: 5px;
    }

    .icon-mobile-list.animate-icons{
      float:right;
      width: 36px;
      height: 36px;
      border: solid 2px #ffc425;
      padding: 7px 8px;
      -webkit-border-radius: 8px;
      -moz-border-radius: 8px;
      border-radius: 8px;
    }

    .mcp-icon {
      display: none;
    }
    .menu-creator-pro .level1 li {
      display: table;
      height: 30px;
    }
    .menu-creator-pro li a{
      color: #252525;
      text-transform: uppercase;
    }

    .menu-creator-pro-black li:hover > a,
    .menu-creator-pro-black li.current > a {
    	border-bottom: none;
    	background: none;
    }
    .menu-mobile {
      color: #fff;
      float: left;
      margin-top: 23px;
      font-size: 9px;
    }

    .menu-mobile:hover {
      text-decoration: none;
      color: #fff;
    }

    .menu-mobile .menu-lines {
      position: relative;
    }

    .menu-mobile .menu-lines span {
      display: block;
      position: absolute;
    }

    .menu-mobile .menu-lines span:nth-child(1){
      width:20px;
      border-top: 1px solid #929292;
    }

    .menu-mobile .menu-lines span:nth-child(2){
      width:15px;
      border-top: 1px solid #626262;
      margin-top: 3px;
    }

    .main-menu {
  		display: none;
  	}

    .icon-left {
      display: none;
    }

    .menu-creator-pro .level1 li a {
      color: #656565;
      line-height: 1.3em;
      padding: 0px 5px;
    }
}
