@media screen and (min-width: 768px) and (max-width: 890px) {
  .menu-creator-pro li {
    padding: 0px 27px 0px 0px;
  }

  .menu-creator-pro li a {
    font-size: 13px;
  }
}

@media screen and (max-width: 768px) {
    *,
    *:after,
    *::before {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }

    html, body, .container, .scroller {
    	height: 100%;
    }

    .scroller {
    	overflow-y: scroll;
    }

    .scroller,
    .scroller-inner {
    	position: relative;
    }

    .container {
    	position: relative;
    	overflow: hidden;
    	background: #34495e;
    }

    .mp-pusher {
      height: 100%;
      left: 0;
      position: fixed;
      top: 0;
      z-index: 999;
    }

    .mp-menu {
    	position: absolute; /* we can't use fixed here :( */
    	top: 0;
    	left: 0;
    	z-index: 1;
    	width: 275px;
    	height: 100%;
      background-color: #fff;
    	-webkit-transform: translate3d(-100%, 0, 0);
    	-moz-transform: translate3d(-100%, 0, 0);
    	transform: translate3d(-100%, 0, 0);
    }

    .mp-level {
      background: none repeat scroll 0 0 #fff;

      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
      width: 100%;
    	-webkit-transform: translate3d(-100%, 0, 0);
    	-moz-transform: translate3d(-100%, 0, 0);
    	transform: translate3d(-100%, 0, 0);
    }

    .mp-pusher,
    .mp-level {
    	-webkit-transition: all 0.5s;
    	-moz-transition: all 0.5s;
    	transition: all 0.5s;
    }
    .menu-creator-pro-black li:hover > a i.animate-icons,
    .menu-creator-pro-black li.current > a i.animate-icons {
      border: solid 2px #ffc425;
    }
    /* overlap */
    .mp-overlap .mp-level.mp-level-open {
    	-webkit-transform: translate3d(-70px, 0, 0);
    	-moz-transform: translate3d(-70px, 0, 0);
    	transform: translate3d(-70px, 0, 0);
    }
    /* First level */
    .mp-menu > .mp-level,
    .mp-menu > .mp-level.mp-level-open,
    .mp-menu.mp-overlap > .mp-level,
    .mp-menu.mp-overlap > .mp-level.mp-level-open {
    	box-shadow: none;
    	-webkit-transform: translate3d(0, 0, 0);
    	-moz-transform: translate3d(0, 0, 0);
    	transform: translate3d(0, 0, 0);
    }

    /* content style */
    .mp-menu ul {
    	padding: 0;
    	list-style: none;
      margin: 80px 0px 0px 0px;
    }
    .mp-menu h2 {
      margin: 0;
      text-align: right;
      padding: 10px 15px;
      position: absolute;
      z-index: 999;
      right: 5px;
    }

    .mp-menu ul li > a {
      width: 98%;
      height: 45px;
      font-family: 'Gotham-Book', 'Helvetica Neue', Helvetica, Arial, sans-serif;
      font-size: 14px;
      letter-spacing: 1px;
      float: right;
    }

    .mp-menu ul li.current > a {
      color: #ffc61e;
    }

    .mp-menu ul li:before {
      background: none repeat scroll 0 0 transparent;
      color: #000;
      font-size: 12px;
      font-weight: bold;
      left: 5px;
      line-height: 35px;
      margin-top: 10px;
      padding: 0 5px;
      position: absolute;
      z-index: -1;
    }

    .grid-column.grid-column3 .mp-back {
      cursor: pointer;
      float: left;
      font-family: 'Gotham-Book', 'Helvetica Neue', Helvetica, Arial, sans-serif;
      font-size: 14px !important;
      margin: -40px 0px 10px 80px;
    }

    .grid-column.grid-column3 .mp-back i{
      float: left;
    }

    .mb-icon .content-close-menu {
      cursor: pointer;
    }

    .mb-icon .close-menu {
      margin: 14px 5px;
      float: left;
      font-family: 'Gotham', 'Helvetica Neue', Helvetica, Arial, sans-serif;
      font-size: 12px;
      font-weight: 500;
      letter-spacing: 0.6px;
    }

    .mb-icon .icon-close{
      font-size: 16px;
      margin-top: 12px;
      font-weight: normal;
      float: left;
    }

    .level1 li a span{
      color: #252525;
    }

    .grid-container5 {
      display: none;
    }

    .menu-creator-pro .grid-column {
      opacity: 1;
    }

    .menu-creator-pro li {
      display: inherit;
      float: inherit;
      font-family: 'Gotham-Book', 'Helvetica Neue', Helvetica, Arial, sans-serif;
      width: 100%;
      padding: 0px 0px 0px 10px;
      text-align: left;
    }

    .menu-creator-pro .grid-container3 {
      width: 100%;
      opacity: 1;
      top: -155%;
      left: -100%;
      height: 100%;
    }

    .menu-creator-pro li > div {
    	position: absolute;
    	z-index: 1000;
    	top: 100%;
    	margin-top: 25px;
    	opacity: 0;
    	width: 100%;
    	min-height: 500px;
    }

    .menu-creator-pro li:hover > div {
    	left: -100%;
    	opacity: 1;
    }

    .grid-column.grid-column3 {
      left: 100%;
      height: 100%;
    }

    .grid-column.grid-column3 ul {
      margin: 35px 50px;
    }

    .grid-column.grid-column3 ul li{
      padding: 0px 0px 0px 20px;
    }

    .icon-mobile, .icon-mobile-list {
      display: block;
      float: left;
      padding-right: 10px;
      margin-top: 9px;
      font-size: 14px;
    }

    .icon-mobile-list.animate-icons{
      float:right;
      width: 36px;
      height: 36px;
      border: solid 2px #252525;
      padding: 10px 10px;
      margin-right: 20px;
      -webkit-border-radius: 8px;
      -moz-border-radius: 8px;
      border-radius: 8px;
    }

    .mcp-icon {
      display: none;
    }
    .menu-creator-pro .level1 li {
      display: table;
      height: 30px;
    }
    .menu-creator-pro li a{
      color: #252525;
      text-transform: uppercase;
    }

    .menu-mobile {
      color: #fff;
      float: left;
      margin-top: 20px;
      font-size: 9px;
      font-family: 'Gotham-Bold', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    }

    .menu-mobile:hover {
      text-decoration: none;
      color: #fff;
    }

    .menu-mobile .menu-lines {
      position: relative;
    }

    .menu-mobile .menu-lines span {
      display: block;
      position: absolute;
    }

    .menu-mobile .menu-lines span:nth-child(1){
      width:20px;
      border-top: 1px solid #929292;
    }

    .menu-mobile .menu-lines span:nth-child(2){
      width:15px;
      border-top: 1px solid #626262;
      margin-top: 3px;
    }

    .main-menu {
  		display: none;
  	}

    .icon-left {
      display: none;
    }

    .menu-creator-pro .level1 li a {
      color: #656565;
      line-height: 1.3em;
      padding: 0px 10px;
    }

    #content-account-links {
      position: absolute;
      width: 100%;
      z-index: 999;
      margin-top: 75px;
    }

    #content-account-links a {
      font-family: 'Gotham-Bold', 'Helvetica Neue', Helvetica, Arial, sans-serif;
      letter-spacing: 0.4px;
    }
}
