@mixin center-absolute-item() {
  position: absolute;
  z-index: -1;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

@mixin generate-loader($image:"") {
  background: url(#{$image}) 50% 50% no-repeat;
  background-color: #fff;
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 9999;
}

@mixin font-face($font-name:"", $font-path:"") {
  @font-face {
    font-family: "#{$font-name}";
    src: url("#{$font-path}.eot?") format("eot"),
         url("#{$font-path}.woff2") format("woff2"),
         url("#{$font-path}.woff") format("woff"),
         url("#{$font-path}.ttf") format("truetype"),
         url("#{$font-path}.svg##{$font-name}") format("svg");
  }
}

@mixin font-style($font-name:"", $font-size:"12", $font-weight:"normal") {
  font-family:$font-name;
  font-size: $font-size;
  font-weight: $font-weight;
}

@mixin font-icon($font-icon:"") {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: '#{$font-icon}';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@mixin icon-list($icons) {
  @each $icon-label, $icon-content in $icons {
    .icon-#{$icon-label}:before {
      @each $content in $icon-content {
        content: '#{$content}';
      }
    }
  }
}

@mixin size-max-content() {
  display: table;
  margin: 0 auto;
  width: 1200px;
}

@mixin hide-flip() {
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
}

@mixin box-border($border-width, $border-style, $border-color) {
  border-width: $border-width;
  border-style: $border-style;
  border-color: $border-color;
}

@mixin box-car() {
  width: 125px;
  height: 31px;
  float: right;
}

@mixin generate-margin-top-menu($menu-elements, $margin-top-menu) {
  $sum: 18px;
  @for $i from 1 through $menu-elements {
    $sum: $sum + $margin-top-menu;
    .level1-#{$i} {
      .grid-container5 {
        margin-top: $sum;
      }
    }
  }
}

@mixin box-reset() {
  margin: 0;
  padding: 0;
  outline: none;
  border: 0;
}

@mixin back-face-visibility($state) {
  backface-visibility: $state;
  -webkit-backface-visibility: $state;
  position: absolute;
  top: 0;
  left: 0;
}

@mixin animate-menu-translation($init, $end) {
  -o-transform-origin: $init $init;
	-ms-transform-origin: $init $init;
	-moz-transform-origin: $init $init;
	-webkit-transform-origin: $init $init;
	-o-transition: -o-transform $end, opacity $end;
	-ms-transition: -ms-transform $end, opacity $end;
	-moz-transition: -moz-transform $end, opacity $end;
	-webkit-transition: -webkit-transform $end, opacity $end;
}

@mixin translate3d($positionX, $positionY, $positionZ) {
  -webkit-transform: translate3d($positionX, $positionY, $positionZ);
  -moz-transform: translate3d($positionX, $positionY, $positionZ);
  transform: translate3d($positionX, $positionY, $positionZ);
}

@mixin transition($transition) {
  -webkit-transition: $transition;
  -moz-transition: $transition;
  transition: $transition;
}

@mixin bp-large {
  @media only screen and (max-width: 1330px) {
    @content;
  }
}

@mixin bp-medium {
  @media only screen and (min-width: 1025px) {
    @content;
  }
}

@mixin bp-small {
  @media only screen and (max-width: 1024px) {
    @content;
  }
}

@mixin bp-iphone-portrait {
  @media only screen and (min-width: 320px)  and (max-width: 400px) {
    @content;
  }
}

@mixin bp-ipad-portrait {
  @media screen and (min-width: 768px) and (max-width: 890px) {
    @content;
  }
}
