//fonts
$font-gotham-book: 'Gotham-Book';
$font-gotham-book-path: 'fonts/Gotham-Book';
$font-gotham-medium: 'Gotham-Medium';
$font-gotham-medium-path: 'fonts/Gotham-Medium';
$font-gotham-bold: 'Gotham-Bold';
$font-gotham-bold-path: 'fonts/Gotham-Bold';
$font-icomoon: 'icomoon';
$font-icomoon-path: 'fonts/icomoon';
$font-secondary: Arial, Helvetica, sans-serif;

// Map icon names to font unicode characters
$icons: (
    bag: '\69',
    close: '\6a',
    left: '\67',
    search: '\68'
);

//colors
$color-black:                        #333333;
$color-dark-grey:                    #666666;
$color-golden-yellow:                #ffc425;
$color-grey:                         #999999;
$color-green:                        #20bc66;
$color-ligth-grey:                   #f0f0f0;
$color-white:                        #ffffff;
//images
$img-loader:                         '../img/page-loader.gif';

//backgrounds
$background-color-black:             $color-black;
$background-color-grey:              $color-grey;
$background-color-ligth-grey:              $color-ligth-grey;
$background-color-golden-yellow:     $color-golden-yellow;
$background-color-white:             $color-white;

//border
$border-width-1px:                   1px;
$border-style-solid:                 solid;
$margin-top-menu:                    -24px;
$menu-elements:                      12;

//slider
$default-duration:                    1s;
$default-easing:                      ease;
$default-border-radius:               5px;
$default-box-shadow-x-axis:           0;
$default-box-shadow-y-axis:           1px;
$default-box-shadow-blur:             2px;
$default-box-shadow-color:            rgba( 0, 0, 0, 0.2 );
$default-box-shadow-inset:            '';
$flexslider-margin:                   -17px 0 60px -40px;
$flexslider-bg:                       #fff;
$flexslider-border:                   4px solid #fff;
$flexslider-border-radius:            4px;
$flexslider-box-shadow-x-axis:        0;
$flexslider-box-shadow-y-axis:        1px;
$flexslider-box-shadow-blur:          4px;
$flexslider-box-shadow-color:         rgba( 0, 0, 0, 0.2 );
$flexslider-box-shadow-inset:         '';
$flex-viewport-max-height:            2000px;
$flex-viewport-loading-max-height:    300px;
$flex-control-thumbs:                 5px 0 0;
$flex-direction-nav-color:            rgba(0,0,0,0.8);
$flex-direction-nav-text-shadow:      1px 1px 0 rgba( 255, 255, 255, 0.3 );
$flex-direction-nav-icon-color:       rgba(0,0,0,0.8);
$flex-direction-nav-icon-text-shadow: 1px 1px 0 rgba( 255, 255, 255, 0.3 );
$flex-direction-nav-icon-prev:        '\f001';
$flex-direction-nav-icon-next:        '\f002';
$flex-pauseplay-icon-play:            '\f003';
$flex-pauseplay-icon-pause:           '\f004';
