#header-minicart-container {
  float: right;
  color: $color-ligth-grey;
  @include bp-medium {
    @include box-border($border-width-1px, $border-style-solid, $color-dark-grey);
    width: 70px;
    height: 70px;
  }
  @include bp-small {
    width: 28px;
    height: 26px;
    padding: 1px 0px;
  }
  &.active {
    @include bp-medium {
      @include box-border($border-width-1px, $border-style-solid, $color-golden-yellow);
      border: 1px solid $color-golden-yellow;
      color: $color-golden-yellow;
    }
    @include bp-small {
      color: $color-golden-yellow;
    }
  }
  i {
    @include bp-medium {
      font-size: 37px;
      position: absolute;
      margin: 13px;
    }
    @include bp-small {
      font-size: 26px;
      position: absolute;
      margin: 10px 0px 0px 0px;
    }
  }
  span {
    @include bp-medium {
      padding-top: 26px;
      text-align: center;
      display: block;
      margin: auto 0;
      width: 67px;
    }
    @include bp-small {
      padding-top: 15px;
      text-align: center;
      display: block;
      margin: auto 0;
      width: 27px;
    }
  }
}
/* flip car */
.flip-container {
  @include bp-small {
    display: none;
  }
  perspective: 1000px;
  &:hover {
    .flipper {
      transform: rotateX(-180deg);
    }
  }
  .flipper {
    transition: 0.6s;
    transform-style: preserve-3d;
    position: relative;
  }
  .front {
    z-index: 2;
    transform: rotateY(0deg);
    @include back-face-visibility(hidden);
    @include bp-small {
      display: none;
    }
  }
  .back {
    transform: rotateX(180deg);
    @include back-face-visibility(hidden);
    @include bp-small {
      display: none;
    }
  }
}
/*end flip car*/
.car-price-detail {
  @include bp-medium {
    @include box-car();
    color: $color-golden-yellow;
    border-right: none;
    border: 1px solid $color-golden-yellow;
    div {
      &:first-child{
        @include box-car();
        color: $color-golden-yellow;
        font-size: 18px;
        letter-spacing: -0.3px;
        padding: 10px 15px;
        font-family: $font-gotham-medium, $font-secondary;
      }
    }
    .back {
      @include box-car();
      color: $color-black;
      font-size: 18px;
      letter-spacing: -0.5px;
      background-color: $background-color-golden-yellow;
      padding: 26px 16px;
      font-family: $font-gotham-medium, $font-secondary;
    }
    .detail {
       font-size: 10px;
    }
    .price {
      font-size: 18px;
      float: left;
      margin-top: -5px;
    }
  }
  @include bp-small {
    display: none;
  }
}
