<!DOCTYPE html>
<html>
<head>
<title>Guideline Palacio de Hierro</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="keywords" content="line">
<meta name="robots" content="INDEX,FOLLOW" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.9.1/styles/github.min.css">
<link href="css/guideline.min.css" rel="stylesheet" />
<link href="css/appStyles.min.css" rel="stylesheet" />
<body ng-app="app">
  <div class="loader"></div>
  <div id="page">
    <header id="header">
      <div class="container">
        <nav class="gr-12 gr-12@tablet gr-12@mobile">
          <main-menu></main-menu>
        </nav>
      </div>
    </header>
    <div class="docs-header" id="content" tabindex="-1">
      <div class="container">
        <h1>Components</h1>
        <p>Over a dozen reusable components built to provide iconography, dropdowns, input groups, navigation, alerts, and much more.</p>
      </div>
    </div>
    <div class="container">
      <main></main>
    </div>
  </div>
</body>
<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.9.1/highlight.min.js"></script>
<script src="js/scripts.min.js"></script>

</html>
