<!DOCTYPE html>
<html lang="es">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<title>El Palacio de Hierro –  Tienda Online El Palacio de Hierro</title>
<meta name="keywords" content="Regalos, Tarjeta Palacio, Promociones Palacio, Martes tarjeta Palacio, Michael Kors, Kors, Michael, Casa Palacio, horarios tiendas palacio, Liverpool, Sears, Sanborns, Solo Sanborns, shopping store, tienda online, Liverpool, Liverpool.com, tecnología, línea blanca, computo, smarthphones, juguetes, moda, herramientas para hogar, jardín, hogar, muebles, decoración, muebles, deportes, cuidado personal, sears me entiende, solo sanborns, Primavera 3014, Feria del mueble y del hogar, Palacio de Hierro Facturacion, palacio de hierro en linea, Noches Palacio, Noches Palacio Octubre, promociones especiales, ellas, ellos, calzado y accesorios, belleza, tecnología, hogar y gourmet, deportes, infantiles, apple, samsung, benefit, kiehls, nespresso, michael kors, mk, tane, relojes finos, nike, burberry, HOTSALE, Hot Sale, Venta exclusiva online, promociones exclusivas online, descuentos exclusivos oline"/>
<meta name="robots" content="INDEX,FOLLOW"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
<link href="css/gridle.min.css" rel="stylesheet" />
<link href="css/sass-white.min.css" rel="stylesheet" />
</head>
<body ng-app="app"  class="background-body">
  <div class="load">
    <div class="dot"></div>
    <div class="outline"><span></span></div>
  </div>
  <div class="overlay-search"></div>
  <div id="header" class="content-header animated-element">
    <header>
      <div class="gr-12 gr-12@tablet gr-12@mobile" id="secundary-menu">
        <div class="toolheader header-hight hidde-element-header">
          <div class="logo-ph">
          </div>
          <div class="logo-cp">
          </div>
        </div>
      </div>
      <div class="toolheader">
        <div class="gr-2 gr-7@tablet gr-7@mobile" >
          <a class="menu-mobile" id="trigger-18" href="#">
            MENÚ
            <div class="menu-lines">
              <span class="line1"></span>
              <span class="line2"></span>
            </div>
          </a>
          <a class="logo" href="#">
              <img src="img/logo.svg" alt="El Palacio de Hierro Logo" />
          </a>
        </div>
        <div id="toolbar-search" class="gr-8 gr-4@tablet gr-4@mobile header-hight">
          <!-- Search -->
          <form id="search" action="#" method="get">
            <div class="input-box">
              <input type="input" placeholder="Búsqueda por categoria, marca, artículos, etc..." name="q" value=""  maxlength="128" autocomplete="off"/>
              <div class="close-search">
                <i class="icon-close"></i>
              </div>
              <div class="button search-button">
                <i class="icon-mobile icon-search"></i>
                <div id="sonar">
                  <div class="line"></div>
                </div>
              </div>
              <div class="content-suggestions animated-element">
                <h2><span>SUGERENCIAS</span></h2>
                <ul class="suggestions">
                  <li> <a href="#"><span>Referencia 1</span></a></li>
                  <li> <a href="#"><span>Referencia 1</span></a></li>
                  <li> <a href="#"><span>Referencia 1</span></a></li>
                  <li> <a href="#"><span>Referencia 1</span></a></li>
                </ul>
                <h2><span>MARCAS</span></h2>
                <ul class="brands">
                  <li><a href="#"><img src="img/burberry.png" /></a></li>
                  <li><a href="#"><img src="img/samsung.png" /></a></li>
                  <li><a href="#"><img src="img/burberry.png" /></a></li>
                  <li><a href="#"><img src="img/samsung.png" /></a></li>
                  <li><a href="#"><img src="img/burberry.png" /></a></li>
                  <li><a href="#"><img src="img/samsung.png" /></a></li>
                </ul>
              </div>
            </div>
          </form>
          <!-- End Search -->
        </div>
        <div id="empty-space" class="gr-2 gr-4@tablet gr-4@mobile header-hight">
        </div>
        <div class="gr-8 gr-0@tablet gr-0@mobile">
          <div class="mst mcp-wrapper" id="mp-menu-18" >
            <div class="mcp-pushnew-menu">
              <div class="mp-pusher" id="mp-pusher">
                <div id="menu-group-1" class="mp-menu">
                  <h2 class="mb-icon content-close-menu">
                    <span class="close-menu" >cerrar </span><i class="icon-close"></i>
                  </h2>
                  <div class="mp-level">
                    <ul class="menu-creator-pro menu-creator-pro-fade menu-creator-pro-rp-switcher menu-creator-pro-black">
                      <li class="mb-icon mb-icon-arrow-left">
                          <a title="DEPARTAMENTOS" href="#" target="_self">
                              <span>Departamentos</span>
                          </a>
                          <div class="grid-container3">
                            <div class="grid-column grid-column3 mp-level" ng-controller="headerCtrl as vm">
                              <a class="mp-back" href="#"><i class="icon-left"></i>
                                <span>Departamentos</span>
                              </a>
                              <ul class="level1">
                                <li ng-repeat="item in vm.menu" class="autosub-item level1-{{$index + 1}}">
                                    <a title="{{item.label}}" href="#" target="_self">
                                      <span>{{item.label}}</span>
                                      <tag ng-if="item.tag" class="tag" >{{item.tag}}</tag>
                                    </a>
                                    <div ng-if="item.children.length > 0" class="grid-container5">
                                      <div class="content-sub-menu">
                                        <div ng-repeat="subMenu in item.children" class="sub-menu">
                                          <a title="{{subMenu.label}}" class="nav-header" href="#" target="_self">
                                            <span>{{subMenu.label}}</span>
                                          </a>
                                          <ul ng-if="subMenu.children" class="level2">
                                            <li ng-repeat="subLevel in subMenu.children">
                                              <a title="{{subLevel.label}}" href="#" target="_self">
                                                <span>{{subLevel.label}}</span>
                                              </a>
                                            </li>
                                          </ul>
                                        </div>
                                      </div>
                                      <div class="banner-right">
                                        <a title="CASA Y ESTILO" href="#" target="_self">
                                          <span>CASA Y ESTILO</span>
                                        </a>
                                        <p class="title">
                                          Lorem Ipsum is
                                          simply dummy
                                          text of the
                                          printing and
                                          typesetting
                                          industry.
                                        </p>
                                        <p class="summary">
                                          Neque porro quisquam est
                                          qui dolorem ipsum quia dolor
                                          sit amet, consectetur, adipisci
                                        </p>
                                        <a class="link-catalog" title="ver catálogo" href="#" target="_self">
                                          <span>VER CATÁLOGO</span>
                                        </a>
                                        <img src="img/LAMPARA.png" alt="banner" />
                                      </div>
                                    </div>
                                </li>
                              </ul>
                            </div>
                          </div>
                      </li>
                      <li>
                        <a title="Mesa de Regalos" href="#" target="_self">
                            <span>Mesa de Regalos</span>
                        </a>
                      </li>
                      <li>
                        <a title="Crédito" href="#" target="_self">
                            <span>Tarjeta Palacio</span>
                        </a>
                      </li>
                      <li>
                        <a title="Viajes" href="#" target="_self">
                            <span>Viajes Palacio</span>
                        </a>
                      </li>
                      <li>
                        <a title="Seguros" href="#" target="_self">
                            <span>Seguros Palacio</span>
                        </a>
                      </li>
                    </ul>
                    <!-- Secundary Menu -->
                    <div id="content-secundary-menu" class="content-float">
                      <ul class="secundary-menu">
                        <li>
                          <a href="#">
                            <span>Ayuda</span>
                          </a>
                        </li>
                        <li>
                          <a href="#">
                            <span>Publicaciones Palacio</span>
                          </a>
                        </li>
                        <li>
                          <a href="#">
                            <span>Servicios Especializados</span>
                          </a>
                        </li>
                        <li>
                          <a href="#">
                            <span>Tiendas y Restaurantes</span>
                          </a>
                        </li>
                      </ul>
                    </div>
                    <!-- End Secundary Menu -->
                    <!-- Account -->
                    <div id="content-account-links" class="content-float">
                      <a href="#"><span>INICIA SESIÓN</span></a>
                    </div>
                    <!-- End Account -->
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div id="cart-container" class="gr-2 gr-1@tablet gr-1@mobile header-hight">
          <!-- Car -->
          <div id="header-minicart-container" class="header-minicart active">
            <span>3</span>
          </div>
          <div class="car-price-detail flip-container vertical" ontouchstart="this.classList.toggle('hover');">
            <div class="flipper">
              <div class="front">
                <span class="detail">Subtotal</span>
                <span class="price">
                  $9,999,999.99 MXN
                </span>
              </div>
              <div class="back">COMPRAR</div>
            </div>
          </div>
          <!-- End Car -->

        </div>
      </div>
    </header>
  </div>
  <div id="content-slider" class="row animated-element" ng-controller="pageContentfulCtrl as vm">
    <section class="slider">
      <div class="flexslider">
        <ul class="slides">
          <li ng-repeat="slider in vm.fields.sliderHome track by $index">
            <img ng-show="slider.fields.file.url" ng-src="https:{{slider.fields.file.url}}" alt="{{slider.fields.description}}"  title="{{slider.fields.title}}"/>
          </li>
        </ul>
        <div class="custom-navigation">
          <a href="#" class="flex-prev"><i class="icon-left"></i></a>

            <div class="custom-controls-container"></div>
          <a href="#" class="flex-next"><i class="icon-left"></i></a>
        </div>
      </div>
    </section>
  </div>
</body>
<script type="text/javascript" src="js/scripts-white.min.js"></script>
</html>
