// import settings
@import "settings";

// generate the classes
@include gridle_generate_classes();

// give a max-width to the container
.container {
	max-width: 1200px;
	margin: 0 auto;
  background-color: #000;
  color: #fff;
  #header {
    background-color: brown;
  }
  #content {
    background-color: gray;
  }
  #sidebar {
    background-color: red;
  }
}
